<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.power.dao.RecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.imooc.power.entity.Record">
        <id column="record_id" property="recordId" />
        <result column="record_time" property="recordTime" />
        <result column="location_factory_numb" property="locationFactoryNumb" />
        <result column="meter_numb" property="meterNumb" />
        <result column="v_ab" property="vAb" />
        <result column="v_bc" property="vBc" />
        <result column="v_ca" property="vCa" />
        <result column="v_ave" property="vAve" />
        <result column="a_a" property="aA" />
        <result column="a_b" property="aB" />
        <result column="a_c" property="aC" />
        <result column="a_ave" property="aAve" />
        <result column="kwh" property="kwh" />
        <result column="app_kwh" property="appKwh" />
        <result column="kw" property="kw" />
        <result column="temp_a" property="tempA" />
        <result column="temp_b" property="tempB" />
        <result column="temp_c" property="tempC" />
    </resultMap>

    <!-- 分组查询所有仪表能耗记录 -->
    <select id="selectEnergyDTOList" resultType="com.imooc.power.dto.EnergyDTO">
        SELECT
            DATE_FORMAT(record_time,'%Y-%m') AS date,
            meter_numb AS meterNumb,
            IFNULL(MAX(kwh),0) AS max,
            IFNULL(MIN(kwh),0) AS min
        from record
        <where>
            1 = 1
            <if test="dateList != null and dateList.size() != 0">
                AND DATE_FORMAT(record_time,'%Y-%m') IN
                <foreach collection="dateList" open="(" close=")" separator="," index="index" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="locationFactoryNumb != null">
                AND location_factory_numb = #{locationFactoryNumb}
            </if>
            <if test="meterNumbs != null and meterNumbs.size() != 0">
                AND meter_numb IN
                <foreach collection="meterNumbs" open="(" close=")" separator="," index="index" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY DATE_FORMAT(record_time,'%Y-%m'), meter_numb
        ORDER BY record_time;
    </select>

    <!-- 仪表能耗分页统计 -->
    <select id="selectRecordStatisticsList" parameterType="java.util.Map" resultType="com.imooc.power.vo.RecordStatisticsVO">
        SELECT
            t.meterNumb as meterNumb,
            t2.meter_desc as meterDesc,
            CASE t.date when #{query_date_current_month} THEN IFNULL(t.max,0) - IFNULL(t.min,0) ELSE 0 END 'currentKwh',
            CASE t.date when #{query_date_pre_month} THEN (IFNULL(t.max,0) - IFNULL(t.min,0)) ELSE 0 END 'preMonthKwh',
            CASE t.date when #{query_date_pre2_month} THEN (IFNULL(t.max,0) - IFNULL(t.min,0)) ELSE 0 END 'pre2MonthKwh'
        from (
             SELECT
                 DATE_FORMAT(record_time,'%Y-%m') AS date,
                 meter_numb AS meterNumb,
                 IFNULL(MAX(kwh),0) AS max,
                 IFNULL(MIN(kwh),0) AS min
             from record
             where
                 DATE_FORMAT(record_time,'%Y-%m') IN (#{query_date_current_month},#{query_date_pre_month},#{query_date_pre2_month})
               <if test="null != locationFactoryNumb">
                   AND location_factory_numb = #{locationFactoryNumb}
               </if>
               <if test="null != meterNumbs and meterNumbs.size() > 0">
                   AND meter_numb IN
                   <foreach collection="meterNumbs" index="index" item="item" separator="," open="(" close=")">
                       #{item}
                   </foreach>
               </if>
             GROUP BY DATE_FORMAT(record_time,'%Y-%m'), meter_numb
             ORDER BY record_time
             )t LEFT JOIN meter t2 ON t.meterNumb = t2.meter_numb
        GROUP BY t.meterNumb , t2.meter_desc
    </select>

    <!-- 分页查询历史数据 -->
    <select id="selectHistoryRecordStatistics" parameterType="java.util.Map" resultType="com.imooc.power.vo.HistoryRecordStatisticsVO">
        SELECT
            t.meter_numb as meterNumb,
            t2.meter_desc as meterDesc,
            t.record_time as recordTime,
            t.v_ab AS vAb,
            t.v_bc AS vBc,
            t.v_ca AS vCa,
            t.a_a  AS aA,
            t.a_b  AS aB,
            t.a_c  AS aC,
            t.temp_a AS tempA,
            t.temp_b AS tempB,
            t.temp_c AS tempC
        from record t LEFT JOIN meter t2 ON t.meter_numb = t2.meter_numb
        <where>
            <![CDATA[ DATE_FORMAT(t.record_time,'%Y-%m-%d %H') >= #{beginDate} ]]>
            AND <![CDATA[ DATE_FORMAT(t.record_time,'%Y-%m-%d %H') <= #{endDate} ]]>
            <if test="null != locationFactoryNumb">
                AND t.location_factory_numb = #{locationFactoryNumb}
            </if>
            <if test="null != meterNumbs and meterNumbs.size() > 0">
                AND t.meter_numb IN
                <foreach collection="meterNumbs" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询历史数据 -->
    <select id="selectHistoryRecord" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        record_time,
        IFNULL(v_ab,0) AS v_ab,
        IFNULL(v_bc,0) AS v_bc,
        IFNULL(v_ca,0) AS v_ca,
        IFNULL(a_a,0) AS a_a,
        IFNULL(a_b,0) AS a_b,
        IFNULL(a_c,0) AS a_c,
        IFNULL(temp_a,0) AS temp_a,
        IFNULL(temp_b,0) AS temp_b,
        IFNULL(temp_c,0) AS temp_c
        from record
        <where>
            <![CDATA[ record_time >= #{beginDate} ]]>
            AND <![CDATA[ record_time <= #{endDate} ]]>
            <if test="null != locationFactoryNumb">
                AND location_factory_numb = #{locationFactoryNumb}
            </if>
            <if test="null != meterNumb">
                AND meter_numb = #{meterNumb}
            </if>
        </where>
        order by record_time asc
    </select>
</mapper>
